*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-weight: 400;
}
::placeholder{
  color: red;
  opacity: 1;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}


input:focus{
  outline: none;
}
.title-container{
  background: #132144;
  transition: background .2s ease-in;
}
.title-container:hover{
  background: #223362;
  cursor: pointer;
}
.title-container .close{
  position: relative;
  width: 15px;
  height: 15px;
}
.title-container .close span{
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.title-container .close span:nth-child(1){
  transform: translateY(-50%);
}
.title-container .close span:nth-child(2){
  transform: rotate(90deg);
}
.response{
  height: 0;
  display: none;
}
.response.active{
  height: auto;
  display: block;
}
.global-body{
  background: linear-gradient(transparent 2%, #00081d 5%);
  width: 100%;
  top: 80%;
}
.global-body .foot-section{
  padding: 0 15%;
}
.menu .menu-small-device{
  color: #fff;
  cursor: pointer;
  display: none;
}
.menu ul{
  display: flex;
}
input[type="radio"]{
  width: 30px;
  height: 30px;
}
.profilMenu{
  display: flex;
}
.profilMenu span .icon{
  font-size: 15px;
  transition: transform ease-in-out .2s;
}
.profilMenu:hover span .icon{
 transform: rotate(180deg);
}

.containerSlide{
  z-index: 5;
}
.containerSlide:hover{
  z-index: 100;
}


.element{
  z-index: 10;
  border-radius: "5px";
  transition: transform .2s ease-out;
}

.element  .element-container .element-infos{
  display: none;
  top: 100%;
  background: #181818;
  padding: 0 2%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: display .2s ease-in-out;
}
.element:hover{
  z-index: 100;
  transform: scale(1.3);
}
.element:hover .element-infos{
  display: flex;
}

/********** Anim hover element *******/


.element-img{
  max-height: 18vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.element:hover .element-img{
  height: auto;
}

.profil-browse{
  width: 10vw; 
  height: 10vw;
  min-height: 84px;
  max-height: 200px;
  max-width: 200px;
  min-width: 84px;
  border-radius: 5px; 
  overflow: hidden;
  cursor: pointer;
}
.browse-user:hover .profil-browse{
  border: 4px solid #e1e1e1;
}
.browse-user p{
  color: #7b7b7b;
}
.browse-user:hover p{
  color: #e1e1e1;
}
.user-title{
  font-size: 350%;
}
.browse-link{
  border: 1px solid #7b7b7b;
  cursor: pointer;
}
.browse-link a{
  font-size: 145%;
  color: #7b7b7b;
}
.browse-link:hover{
  border: 1px solid #e1e1e1;
}
.browse-link:hover a{
  text-decoration: none;
  color: #e1e1e1;
}

@keyframes scale {
  0%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.3);
  }
}

.tablee tr td{
  padding: 1rem .5rem;
}

.tablee .border-active{
  border-bottom: 1px solid rgba(129, 128, 128, 0.534);
}
.plan{
  width: 100px;
  height: 100px;
}
.movieOrSerie{
  font-size: 100%;
}

.similar-titles{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}
.similar-titles .similarElement .playBtn{
  display: none;
}
.similar-titles .similarElement:hover .playBtn{
  display: flex;
}
.containerSlide .buttonNextPrev{
  display: none;
  background: rgba(0, 0, 0, .8); 
  width: 3%; 
  height: 100%; 
  font-size: 150%;
  z-index: 1000;
}
.containerSlide:hover .buttonNextPrev{
  display: flex;
}
.grand-container{
  top: -10rem;
}
.shadow-element{
  height: 8vh;
  top: -2rem;
}
.name-logo img{
  width: 80%;
  height: auto;
  object-fit: cover;
}


/* =============== Player Video =======================*/
.fullscreen .container-video video{
  max-width: 100%;
  width: 100%;
}
.container-video{
  background: #1e1e1e;

}
.container-video video{
  width: 96%; 
  height: 100%; 
  object-fit: cover;
}
.progress-bar{
  width: 0;
  height: 100%;
  background: red;
}
.progress-thumb{
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  background: red;
  transform: translateY(-50%);
  border-radius: 50%;
}
.videoTag{
  width: 100%;
  height: 100vh;
}
.videoTag video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

.text-gender{
  font-size: 13px;
}
.icon-video{
  font-size: 200%;
  transform: scale(1);
  transition: transform .2s ease-in-out;
}
.icon-video:hover{
  transform: scale(1.2);
}

@media (max-width: 1140px){
  .global-body .foot-section{
    padding: 0 10%;
  }
}
@media (max-width: 960px){
  .logo{
    width: 150px;
  }
  .global-body .foot-section{
    padding: 0 5%;
  }
  .desc{
    font-size: 16px;
  }
  .menu .menu-small-device{
    display: flex;
  }
  .menu ul{
    position: absolute;
    top: 1.5rem;
    right: -4rem;
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    border-top: 2px solid #fff;
    z-index: 1000;
    display: none;
  }
  .menu .menu-small:hover ul
  {
    display: flex;
  }
  .menu ul li{
    width: 100%;
  }
  .menu ul li a{
    display: block;
    width: 100%;
    padding: .7rem 2%;
  }
  .menu ul li a:hover{
    text-decoration: none; 
    background-color: rgba(255, 255, 255, .1);
  }
  .user-title{
    font-size: 250%;
  }
  .containerSlide .buttonNextPrev{
    display: flex;
    width: 5%; 
  }
}
@media (max-width: 720px){

  .user-title{
    font-size: 200%;
  }
  .browse-link a{
    font-size: 110%;
  }

  .global-body .foot-section{
    padding: 0;
  }
  .grand-container{
    top: -4rem;
  }
  .plan{
    width: 70px;
    height: 70px;
    font-size: 14px;
  }
  .movieOrSerie{
    font-size: 12px;
  }
  .tablee{
    font-size: 14px;
  }
  .tablee tr{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
  .tablee tr:nth-child(2), 
  .tablee tr:nth-child(3),
  .tablee tr:nth-child(4),
  .tablee tr:nth-child(5),
  .tablee tr:nth-child(6){
    gap: 10%;
  }
  .tablee tr td:nth-child(1){
    width: 100%;
    text-align: center;
  }
  .similar-titles{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .containerSlide .buttonNextPrev{
    display: flex;
    width: 7%; 
  }
  .videoTag{
    height: 60vh;
  }
  .description{
    height: 100%;
  }
  .text-description{
    font-size: 12px;
  }
  .container-video video{
    object-fit: contain;
  }
  .icon-element{
    font-size: 12px;
  }
  .text-gender{
    font-size: 10px;
  }
  .shadow-element{
    top: -1.7rem;
  }
  .icon-video{
    font-size: 150%;
  }
}

@media (max-width: 500px){
  .name-logo img{
    width: 65%;
  }
  .shadow-element{
    top: -1.6rem;
  }
  .global-body{
    background: linear-gradient(transparent 1%, #00081d 3%);
    top: 88%;
  }
}
@media (max-width: 350px){
  .text-timeline{
    font-size: 85%;
  }
  .icon-video{
    font-size: 120%;
  }
  .shadow-element{
    height: 10vh;
    top: -2rem;
  }
}